<p>bookdetail works!</p>
<div>
    <input [(ngModel)]="booksService.isbn" (keydown.enter)="searchIsbn()" />
    <button (click)="searchIsbn()">ISBN</button>
    <div *ngIf=" bookD !== undefined ; else nobook">
        <ul>
            <li>Titre : {{ bookD.volumeInfo.title }}</li>
            <li>Auteur(s) : {{bookD.volumeInfo.authors}}</li>
            <li>Genre : {{bookD.volumeInfo.categories}}</li>
            <li>Editeur : {{bookD.volumeInfo.publisher}}</li>
            <li>Description : {{bookD.volumeInfo.description}}</li>
            <li>ISBN13: {{bookD.volumeInfo.industryIdentifiers[0].identifier}} | ISBN10 : {{bookD.volumeInfo.industryIdentifiers[1].identifier}} </li>
            <li>Nbre de Page : {{bookD.volumeInfo.pageCount}}</li>
            <li>Langue : {{bookD.volumeInfo.language}}</li>
            <li>Format : {{bookD.saleInfo.isEbook}}</li>
            <li>Photo Couv : {{bookD.volumeInfo.imageLinks.thumbnail}}</li>
            <li>RATING</li>
            <li>Prix : {{bookD.saleInfo.listPrice.amount}} {{bookD.saleInfo.listPrice.currencyCode}} </li>
        </ul>
    </div>
    <ng-template #nobook>NO BOOK FOR YOU</ng-template>
</div>